@* Modal de exibição de informações cadastradas sobre o usuário, após pressionar o botão Ver mais *@

@model MyTea.Models.Funcionario
                    
@* Modal de exibição de informações cadastradas sobre o usuário, após pressionar o botão Ver mais *@
    <div class="modal fade" id="botao-ver-mais" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                    <div class="modal-header mb-3">
                        <h1 class="modal-title fs-5" id="staticBackdropLabel">Ver mais</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        @*Tabela de informações, dentro do Model*@
                        <table class="table table table-bordered">
                        <thead class="thead-cad-func">
                        <th colspan="2">Informações do Funcionário</th>
                        </thead>
                        <tbody class="tbody-cad-func">
                            <tr>
                                <th>Código</th>
                                <td readonly>@Model.Func_Id</td>
                            </tr>
                            <tr>
                                <th>Nome</th>
                                @*<td>@Model.Func_Nome</td>*@
                            </tr>
                            <tr>
                                <th>Sobrenome</th>
                                @*<td>@Model.Func_Sobrenome</td>*@
                            </tr>
                            <tr>
                                <th>Departamento</th>
                                @*<td>@Model.Depto_Id</td>*@
                            </tr>
                            @*<tr>
                            <th>Data de Nascimento</th>
                            <td>@Model.</td>
                            </tr>*@
                            <tr>
                                <th>Gênero</th>
                                @*<td>@Model.Func_Gen</td>*@
                            </tr>
                            <tr>
                                <th>Carga Horária</th>
                                @*<td>@Model.Func_CH_Est</td>*@
                            </tr>
                            <tr>
                                <th>Data da admissão</th>
                                @*<td>@Model.Func_DtAdm</td>*@
                            </tr>
                            <tr>
                                <th>Data de desligamento</th>
                                @*<td>@Model.Func_DtDes</td>*@
                            </tr>
                        </tbody>
                    </table
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn botao-cancelar" data-bs-dismiss="modal">Fechar</button>
                    </div>
            </div>
        </div>
    </div> 